<!-- # CE - camunda-bpm-webapp/ui/admin/client/scripts/pages/groups.html -->
<section ng-cloak>
  <!-- <aside></aside> -->
  <div class="section-content">
    <header class="row">
      <div class="col-xs-8">
        <h3>{{ 'HEADER_LIST_OF_GROUPS' | translate }}</h3>
      </div>
      <div class="col-xs-4 text-right"
           ng-show="availableOperations.create">
        <a href="#/group-create"
           class="btn btn-default">
          {{ 'CREATE_NEW_GROUP_BUTTON' | translate }}
          <span class="glyphicon glyphicon-plus-sign"></span>
        </a>
      </div>
    </header>

    <div cam-widget-loader
         loading-state="{{ loadingState }}">
      <table class="cam-table">
        <thead>
          <tr>
            <th class="group-id">{{ 'GROUP_ID' | translate }}</th>
            <th class="group-name">{{ 'GROUP_NAME' | translate }}</th>
            <th class="group-type">{{ 'GROUP_TYPE' | translate }}</th>
            <th class="action">{{ 'ACTION' | translate }}</th>
          </tr>
        </thead>

        <tbody>
          <tr ng-repeat="group in groupList">
            <td class="group-id">
              <a href="#/groups/{{group.id | escape}}">{{group.id}}</a>
            </td>

            <td class="group-name">
              {{group.name}}
            </td>

            <td class="group-type">
              {{group.type}}
            </td>

            <td class="action">
              <a href="#/groups/{{group.id | escape}}">{{ 'EDIT' | translate }}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div ng-show="loadingState === 'EMPTY' && pages.total && (!groupList || !groupList.length)"
         class="well">
      <span class="glyphicon glyphicon-info-sign"></span>
      {{ 'CURRENT_SEARCH_PARAMS_COULD_NOT_RETRIEVE_ANY_GROUPS_TRY_TO' | translate }} <a ng-click="pageChange(1)">{{ 'CURRENT_SEARCH_PARAMS_COULD_NOT_RETRIEVE_ANY_GROUPS_TRY_TO_RESET_PAGE_NUMBER' | translate }}</a>
    </div>

    <pagination ng-if="pages.total > pages.size"
                class="pagination-sm"

                ng-model="pages.current"
                ng-change="pageChange(pages.current)"

                total-items="pages.total"
                items-per-page="pages.size"
                max-size="7"

                boundary-links="true"

                next-text="&rsaquo;"
                last-text="&raquo;"
                previous-text="&lsaquo;"
                first-text="&laquo;"></pagination>

  </div>
</section>
<!-- / CE - camunda-bpm-webapp/ui/admin/client/scripts/pages/groups.html -->
